@model UpdateFeaturedSliderDto

@{
    ViewData["Title"] = "UpdateFeaturedSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="chart-box">
				<h4>Öne Çıkan Güncelle</h4>
				<div class="bs-example">
					<form method="post">
						<input type="hidden" asp-for="FeaturedSliderId" />
						<label>Öne Çıkan Başlık</label>
						<input type="text" class="form-control" asp-for="Title" />
						<br />
						<label>Öne Çıkan Açıklama</label>
						<input type="text" class="form-control" asp-for="Description" />
						<br />
						<label>Öne Çıkan Görsel</label>
						<input type="text" class="form-control" asp-for="ImageUrl" />
						<br />
						<button class="btn btn-primary">Güncelle</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>