@model UpdateOfferDiscountDto

@{
	ViewData["Title"] = "UpdateOfferDiscount";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="chart-box">
				<h4>İndirim Teklifi Güncelle</h4>
				<div class="bs-example">
					<form method="post">
						<input type="hidden" asp-for="OfferDiscountId" />
						<label>İndirim Teklifi Başlık</label>
						<input type="text" class="form-control" asp-for="Title" />
						<br />
						<label>İndirim Teklifi Alt Başlık</label>
						<input type="text" class="form-control" asp-for="Subtitle" />
						<br />
						<label>İndirim Teklifi Buton Başlık</label>
						<input type="text" class="form-control" asp-for="ButtonTitle" />
						<br />
						<label>İndirim Teklifi Görsel</label>
						<input type="text" class="form-control" asp-for="ImageUrl" />
						<br />
						<button class="btn btn-primary">İndirim Teklifi Güncelle</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>