@model CreateProductDto
@{
	ViewData["Title"] = "CreateProduct";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="chart-box">
				<h4>Ürün Ekle</h4>
				<div class="bs-example">
					<form method="post">
						<label>Ürün Adı</label>
						<input type="text" class="form-control" asp-for="ProductName" />
						<br />
						<label>Ürün Fiyatı</label>
						<input type="text" class="form-control" asp-for="ProductPrice" />
						<br />
						<label>Ürün Görseli</label>
						<input type="text" class="form-control" asp-for="ProductImageUrl" />
						<br />
						<label>Ürün Kategorisi</label>

						@Html.DropDownListFor(c => c.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new { @class = "form-control" })

						<br />
						<label>Ürün Açıklaması</label>
						<textarea rows="5" class="form-control" asp-for="ProductDescription"></textarea>
						<br />
						<button class="btn btn-primary">Ürün Ekle</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
