<aside class="main-sidebar dark-bg">
	<section class="sidebar">
		<div class="user-panel black-bg">
			<div class="pull-left image"> <img src="../dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
			<div class="pull-left info">
				<p>MultiShop Admin</p>
			</div>
		</div>
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header dark-bg">Menü</li>
			<li> <a href="/Default/Index"> <i class="fa fa-th"></i> <span>Siteye Git</span></a> </li>
			<li> <a href="/Admin/Category/Index"> <i class="fa fa-th"></i> <span>Kategoriler</span></a> </li>
			<li> <a href="/Admin/Product/ProductListWithCategory"> <i class="fa fa-th"></i> <span>Ürünler</span></a> </li>
			<li> <a href="/Admin/FeaturedSlider/Index"> <i class="fa fa-th"></i> <span>Slider</span></a> </li>
			<li> <a href="/Admin/SpecialOffer/Index"> <i class="fa fa-th"></i> <span>Teklifler</span></a> </li>
			<li> <a href="/Admin/Featured/Index"> <i class="fa fa-th"></i> <span>Öne Çıkanlar</span></a> </li>
			<li> <a href="/Admin/OfferDiscount/Index"> <i class="fa fa-th"></i> <span>İndirim Teklifleri</span></a> </li>

		</ul>
		<!-- sidebar-menu -->
	</section>
</aside>
