@model UpdateCommentDto

@{
	ViewData["Title"] = "UpdateComment";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="chart-box">
				<h4>Yorum Güncelle</h4>
				<div class="bs-example">
					<form method="post">
						<input type="hidden" asp-for="UserCommentId" />
						<input type="hidden" asp-for="ProductId" />
						<label>Yorum</label>
						<textarea rows="3" class="form-control" asp-for="CommentDetail"></textarea>
						<br />
						<label>Kullanıcı</label>
						<input type="text" class="form-control" asp-for="NameSurname" />
						<br />
						<label>Kullanıcı Görsel</label>
						<input type="text" class="form-control" asp-for="ImageUrl" />
						<br />
						<label>Email</label>
						<input type="text" class="form-control" asp-for="Email" />
						<br />
						<label>Kullanıcı Puanı</label>
						<input type="number" class="form-control" asp-for="Rating" />
						<br />
						<label>Yorum Tarihi</label>
						<input type="text" class="form-control" asp-for="CreatedDate" />
						<br />
						<button class="btn btn-primary">Güncelle</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
